/* var */
/* reset */
html, body, div, img, header, section, ul, ol, li {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 4em;
  font-family: "Raleway";
  font-weight: 200;
  animation: text 4s infinite alternate ease-in-out; }

a {
  text-decoration: none; }

/* page style */
.container .row:first-child {
  border-top: 0; }

.col-3 {
  width: 33.33%;
  float: left; }
  .col-3:hover {
    background: #f8f8f8; }
  .col-3 > div {
    top: 50%;
    left: 50%;
    position: relative; }

.col-2 {
  width: 50%;
  float: left; }
  .col-2 > div {
    top: 50%;
    left: 50%;
    position: relative; }

.text-center {
  text-align: center; }

.location-icon {
  margin-right: 5px; }

.shapes-top {
  display: block;
  height: 320px;
  background: #1fa67a url("../images/crissxcross.png");
  overflow: hidden;
  color: #fff;
  padding: 15px;
  box-sizing: border-box; }

.useful-links {
  padding: 8px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd; }
  .useful-links ul {
    list-style: none; }
    .useful-links ul li {
      display: inline-block;
      padding: 0 15px;
      line-height: 30px; }
      .useful-links ul li:hover {
        background: #fff; }
  .useful-links a {
    color: #999;
    font-size: 14px; }

.shapes-footer {
  display: block;
  height: 220px;
  width: 100%;
  background: #1fa67a url("../images/crissxcross.png");
  overflow: hidden;
  color: #fff; }
  .shapes-footer .btn {
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 12px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    min-width: 120px;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px; }

/* break your brain */
.shapes .col-3 {
  height: 300px;
  position: relative; }

/* base shapes */
.square {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc; }

.rectangle {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc; }

.rectangle {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc; }

.circle {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.oval {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px; }

.triangle-up {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc; }

.triangle-down {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ccc; }

.triangle-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #ccc;
  border-bottom: 50px solid transparent; }

.triangle-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #ccc;
  border-bottom: 50px solid transparent; }

.triangle-top-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-right: 100px solid transparent; }

.triangle-top-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-left: 100px solid transparent; }

.triangle-bottom-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-right: 100px solid transparent; }

.triangle-bottom-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-left: 100px solid transparent; }

.triangle-up-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc; }
  .triangle-up-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #fff; }

.triangle-down-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ccc; }
  .triangle-down-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 80px solid #fff; }

.triangle-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #ccc;
  border-bottom: 50px solid transparent; }
  .triangle-left-o:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 14px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid #fff;
    border-bottom: 40px solid transparent; }

.triangle-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #ccc;
  border-bottom: 50px solid transparent; }
  .triangle-right-o:before {
    content: '';
    position: absolute;
    top: -40px;
    left: -94px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 80px solid #fff;
    border-bottom: 40px solid transparent; }

.triangle-top-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-right: 100px solid transparent; }
  .triangle-top-left-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: 6px;
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-right: 80px solid transparent; }

.triangle-top-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-left: 100px solid transparent; }
  .triangle-top-right-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: -86px;
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent; }

.triangle-bottom-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-right: 100px solid transparent; }
  .triangle-bottom-left-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 6px;
    width: 0;
    height: 0;
    border-bottom: 80px solid #fff;
    border-right: 80px solid transparent; }

.triangle-bottom-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-left: 100px solid transparent; }
  .triangle-bottom-right-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -86px;
    width: 0;
    height: 0;
    border-bottom: 80px solid #fff;
    border-left: 80px solid transparent; }

.trapezoid {
  margin-top: -50px;
  margin-left: -100px;
  border-bottom: 100px solid #ccc;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px; }

.parallelogram {
  margin-top: -50px;
  margin-left: -93px;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #ccc; }

.star-six {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc;
  position: relative; }
  .star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ccc;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px; }

.star-five {
  margin-top: -30px;
  margin-left: -100px;
  position: relative;
  display: block;
  color: #ccc;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ccc;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }
  .star-five:before {
    border-bottom: 80px solid #ccc;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .star-five:after {
    position: absolute;
    display: block;
    color: #ccc;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ccc;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }

.pentagon {
  margin-top: -25px;
  margin-left: -45px;
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #ccc transparent; }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #ccc; }

.hexagon {
  margin-top: -27px;
  margin-left: -50px;
  width: 100px;
  height: 55px;
  background: #ccc;
  position: relative; }
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #ccc; }
  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #ccc; }

.octagon {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc;
  position: relative; }
  .octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ccc;
    border-left: 29px solid #f8f8f8;
    border-right: 29px solid #f8f8f8;
    width: 42px;
    height: 0; }
  .octagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ccc;
    border-left: 29px solid #f8f8f8;
    border-right: 29px solid #f8f8f8;
    width: 42px;
    height: 0; }

.heart {
  margin-top: -45px;
  margin-left: -50px;
  position: relative;
  width: 100px;
  height: 90px; }
  .heart:before, .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #ccc;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }

.infinity {
  margin-top: -50px;
  margin-left: -106px;
  position: relative;
  width: 212px;
  height: 100px; }
  .infinity:before, .infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #ccc;
    -moz-border-radius: 50px 50px 0 50px;
    border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
    border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.diamond {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #ccc;
  position: relative;
  top: -50px; }
  .diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #ccc; }

.diamond-shield {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 20px solid #ccc;
  position: relative;
  top: -50px; }
  .diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ccc; }

.diamond-narrow {
  margin-top: -115px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 70px solid #ccc;
  position: relative;
  top: -50px; }
  .diamond-narrow:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ccc; }

.cut-diamond {
  margin-top: -50px;
  margin-left: -50px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  position: relative; }
  .cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
    border-width: 70px 50px 0 50px; }

.egg {
  margin-top: -90px;
  margin-left: -63px;
  display: block;
  width: 126px;
  height: 180px;
  background-color: #ccc;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%; }

.pacman {
  margin-top: -60px;
  margin-left: -60px;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #ccc;
  border-left: 60px solid #ccc;
  border-bottom: 60px solid #ccc;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; }

.talkbubble {
  margin-top: -40px;
  margin-left: -55px;
  width: 120px;
  height: 80px;
  background: #ccc;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #ccc;
    border-bottom: 13px solid transparent; }

.burst-12 {
  margin-top: -40px;
  margin-left: -40px;
  background: #ccc;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center; }
  .burst-12:before, .burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #ccc; }
  .burst-12:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg); }
  .burst-12:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg); }

.burst-8 {
  margin-top: -40px;
  margin-left: -50px;
  background: #ccc;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg); }
  .burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #ccc;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg); }

.css-text {
  margin-top: -50px;
  margin-left: -150px;
  width: 300px;
  height: 100px;
  text-align: center;
  color: #ccc; }
  .css-text:before, .css-text:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .css-text:before {
    content: '{79px}';
    top: 0;
    font-size: 30px;
    line-height: 50px; }
  .css-text:after {
    content: 'This paragraph written in the Css!';
    top: 70px; }

.create .col-2 {
  position: relative;
  height: 300px; }
  .create .col-2:nth-child(4n) {
    background: #b2cc95; }
  .create .col-2:nth-child(4n+1) {
    background: #b2cc95; }
  .create .col-2:nth-child(4n+2) {
    background: #eee3b5; }
  .create .col-2:nth-child(4n+3) {
    background: #eee3b5; }

/* create so much */
.triangle-up-tree {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #1fa67a; }
  .triangle-up-tree:before {
    content: '';
    position: absolute;
    top: 40px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #1fa67a; }
  .triangle-up-tree:after {
    content: '';
    position: absolute;
    top: 140px;
    left: -5px;
    width: 10px;
    height: 50px;
    background: #795548; }

.ba-gua {
  margin-top: -55px;
  margin-left: -50px;
  width: 96px;
  height: 48px;
  background: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%; }
  .ba-gua:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 18px solid #000;
    border-radius: 100%;
    width: 12px;
    height: 12px; }
  .ba-gua:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    border: 18px solid #fff;
    border-radius: 100%;
    width: 12px;
    height: 12px; }

.badge-ribbon {
  margin-top: -65px;
  margin-left: -50px;
  position: relative;
  background: #8BC34A;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .badge-ribbon:before, .badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid #8BC34A;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg); }
  .badge-ribbon:after {
    left: auto;
    right: -10px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg); }

.magnifying-glass {
  margin-top: -55px;
  margin-left: -50px;
  font-size: 10em;
  /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.085em solid #607D8B;
  position: relative;
  border-radius: 0.35em; }
  .magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: #607D8B;
    width: 0.35em;
    height: 0.08em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }

.facebook-icon {
  margin-top: -60px;
  margin-left: -65px;
  background: #3B5A9B;
  text-indent: -999em;
  width: 100px;
  height: 110px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 15px solid #3B5A9B;
  border-bottom: 0; }
  .facebook-icon:before {
    content: "/20";
    position: absolute;
    background: #3B5A9B;
    width: 40px;
    height: 90px;
    bottom: -30px;
    right: -37px;
    border: 20px solid #fff;
    border-radius: 25px; }
  .facebook-icon:after {
    content: "/20";
    position: absolute;
    width: 55px;
    top: 50px;
    height: 20px;
    background: #fff;
    right: 5px; }

.moon {
  margin-top: -55px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #2196F3; }

.cross {
  margin-top: -50px;
  margin-left: -15px;
  background: #FF9800;
  height: 100px;
  position: relative;
  width: 20px; }
  .cross:after {
    background: #FF9800;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px; }

.create-computer {
  margin-top: 50px;
  margin-left: -90px;
  width: 200px;
  height: 18px;
  background: #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .create-computer:before, .create-computer:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto; }
  .create-computer:before {
    width: 160px;
    height: 90px;
    border: 13px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightblue;
    top: -116px;
    left: 6px; }
  .create-computer:after {
    width: 60px;
    height: 10px;
    background: #888;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.burger {
  margin-top: -12px;
  margin-left: -50px;
  height: 25px;
  width: 100px;
  background-color: #5B3715;
  border-radius: 2px; }
  .burger:before, .burger:after {
    content: "";
    width: 98px;
    position: absolute;
    left: 50%;
    background-color: #C4A06A;
    transform: translate(-50%, 0); }
  .burger:before {
    height: 16px;
    top: -20px;
    border-radius: 50% 50% 0 0; }
  .burger:after {
    height: 12px;
    top: 28px;
    border-radius: 0 0 50% 50%; }

.tag-green {
  margin-top: -11px;
  margin-left: -45px;
  display: inline-block;
  height: 22px;
  padding: 10px 28px 10px 60px;
  border: 0 solid transparent;
  border-radius: 4px 1px 1px 4px;
  background: #1abc9c;
  box-shadow: 0 5px 0 0 #16a085, 5px 5px 0 0 #16a085; }
  .tag-green:before, .tag-green:after {
    display: inline-block;
    position: absolute;
    content: ""; }
  .tag-green:before {
    z-index: 1;
    width: 30px;
    height: 30px;
    top: 6px;
    right: -16px;
    border: 0 solid #1abc9c;
    border-radius: 1px 1px 4px;
    background: #1abc9c;
    box-shadow: 0 6px 0 0 #16a085;
    -moz-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1); }
  .tag-green:after {
    z-index: 2;
    width: 12px;
    height: 12px;
    top: 16px;
    right: 0;
    border: 0 solid #018dc4;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 5px 5px 0 0 #16a085 inset; }

.slack-icon {
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
  height: 120px;
  border-radius: 15px;
  background: linear-gradient(-15deg, rgba(227, 25, 109, 0.5) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(129, 209, 222, 0.5) 70%), linear-gradient(-107deg, rgba(235, 178, 35, 0.5) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(75, 196, 160, 0.5) 70%), #fff; }
  .slack-icon:after {
    content: '{79px}';
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #5c3b57;
    width: 120px;
    height: 120px;
    display: block; }

.man {
  margin-top: -40px;
  margin-left: -15px;
  background: #607D8B;
  border-radius: 10px;
  display: block;
  height: 50px;
  width: 30px; }
  .man:before, .man:after {
    content: '';
    position: absolute;
    background: #607D8B; }
  .man:before {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    left: 3px;
    top: -30px; }
  .man:after {
    border-radius: 10px;
    box-shadow: 50px 0 0 0 #607D8B, 15px 55px 0 0 #607D8B, 35px 55px 0 0 #607D8B;
    width: 10px;
    height: 50px;
    left: -15px;
    top: 0; }

.chrome {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(180deg, #ee6150 0%, #ee6150 40px, transparent 40px, transparent 100%), linear-gradient(295deg, #fdd800 0%, #fdd800 55px, transparent 55px, transparent 100%), linear-gradient(50deg, #58be5b 0%, #58be5b 70px, transparent 70px, transparent 100%);
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .chrome:before, .chrome:after {
    content: '';
    position: absolute; }
  .chrome:before {
    width: 0;
    height: 0;
    border-bottom: 70px solid #58be5b;
    border-bottom-width: 80px;
    border-bottom-style: solid;
    border-bottom-color: #58BE5B;
    border-right: 13px solid transparent;
    border-right-width: 35px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 22px solid transparent;
    border-left-width: 18px;
    border-left-style: solid;
    border-left-color: transparent;
    left: -4px;
    top: 12px;
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg); }
  .chrome:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3c8fc8;
    border: 5px solid #dbdbdb; }

.create-css-text {
  margin-top: -50px;
  margin-left: -150px;
  width: 300px;
  height: 100px;
  text-align: center;
  color: #fff; }
  .create-css-text:before, .create-css-text:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .create-css-text:before {
    content: 'What?Not enough?';
    top: 0;
    font-size: 30px;
    line-height: 50px; }
  .create-css-text:after {
    content: 'I will use css3 animate then,keep watching!';
    top: 70px; }

@media (max-width: 900px) {
  .col-3 {
    width: 50%; } }
@media (max-width: 600px) {
  .col-2 {
    width: 100%; }

  .col-3 {
    width: 100%; }

  h1 {
    font-size: 2em; } }
/* css3 animate */
@keyframes text {
  0% {
    transform: rotateX(-10deg) rotateY(-20deg); }
  100% {
    transform: rotateX(10deg) rotateY(20deg); } }