/* var */
/* reset */
html, body, div, img {
  padding: 0;
  margin: 0; }

/* page style */
.container .row:first-child {
  border-top: 0; }
.container .row .gird {
  height: 300px;
  position: relative; }

.row-3 .gird {
  width: 33.33%;
  float: left; }

.gird > div {
  position: absolute;
  top: 50%;
  left: 50%; }

/* square */
.square {
  width: 100px;
  height: 100px;
  background: #1fa67a;
  margin-top: -50px;
  margin-left: -50px; }