@media (max-width: 900px) {
  .row-3 {
    .gird {
      width: 50%;
    }
  }
}

@media (max-width: 600px) {
  .row-3 {
    .gird {
      width: 100%;
    }
  }
  h1{
    font-size: 2em;
  }
}




/* css3 animate */
@keyframes text{
  0%{transform:rotateX(-10deg) rotateY(-20deg);}
  100%{transform:rotateX(10deg) rotateY(20deg);}
}