/* var */
$white: #fff;
$gray: #ccc;
$text-gray: #999;
$base: #1fa67a;
$bg: #f8f8f8;

@mixin border-top() {
  border-top: 1px solid #dbdbdb;
}

/* reset */
html, body, div, img,header,section,ul,ol,li {
  padding: 0;
  margin: 0;
}
h1 {
  font-size:4em;
  font-family:"Raleway";
  font-weight:200;
  animation:text 4s infinite alternate ease-in-out;
}
a{
  text-decoration: none;
}
/* page style */
.container {
  .row:first-child {
    border-top: 0;
  }
  .row {
    .gird {
      height: 300px;
      position: relative;
    }
  }
}

.row-3 {
  .gird {
    width: 33.33%;
    float: left;
    &:hover {
      background: $bg;
    }
  }
}

.gird > div {
  top: 50%;
  left: 50%;
  position: relative;
}
.text-center{
  text-align: center;
}
.location-icon{
  margin-right:5px;
}
.info-text{
  top: 0!important;
  left: 0!important;
  padding:15px;
  text-align: center;
  a{
    color: $base;
    text-decoration: none;
  }
}
.shapes-top{
  display:block;
  height:320px;
  background: $base url("../images/crissxcross.png");
  overflow: hidden;
  color:$white;
  padding: 15px;
  box-sizing: border-box;
}
.useful-links {
  padding: 8px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  ul{
    list-style:none;
    li{
      display: inline-block;
      padding:0 15px;
      line-height: 30px;
      &:hover{
        background: $white;
      }
    }
  }
  a{
    color: $text-gray;
    font-size: 14px;
  }
}
.shapes-footer{
  display:block;
  height:220px;
  width:100%;
  background: $base url("../images/crissxcross.png");
  overflow: hidden;
  color: $white;
  .btn{
    margin-top:60px;
    margin-bottom:20px;
    display: inline-block;
    padding:10px 12px;
    background: transparent;
    border:2px solid $white;
    border-radius: 5px;
    min-width:120px;
    color: $white;
    cursor: pointer;
    outline: none;
    font-size: 16px;
  }
}
/* break your brain */
.triangle-up-tree {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid $gray;
  &:before {
    content: '';
    position: absolute;
    top: 40px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid $gray;
  }
  &:after {
    content: '';
    position: absolute;
    top: 140px;
    left: -5px;
    width: 10px;
    height: 50px;
    background: $gray;
  }
}

.ba-gua {
  width: 96px;
  height: 48px;
  background: #eee;
  border-color: $gray;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid $gray;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: $gray;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
}

@import "shapes";
@import "media";