/* var */
$white: #fff;
$gray: #ccc;
$text-gray: #999;
$base: #1fa67a;
$bg: #f8f8f8;

@mixin border-top() {
  border-top: 1px solid #dbdbdb;
}

/* reset */
*{
  font-family:'microsolf yahei';
  box-sizing: border-box;
}
html, body, div, img,header,section,ul,ol,li {
  padding: 0;
  margin: 0;
}
h1 {
  font-size:4em;
  font-weight:200;
  animation:text 4s infinite alternate ease-in-out;
}
a{
  text-decoration: none;
}
/* page style */
.container {
  .row:first-child {
    border-top: 0;
  }
}

.list-item {
  > div {
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    position: relative;
  }
}
.text-center{
  text-align: center;
}
.location-icon{
  margin-right:5px;
}
.shapes-top{
  display:block;
  height:320px;
  background: $base url("../images/crissxcross.png");
  overflow: hidden;
  color:$white;
  padding: 15px;
  box-sizing: border-box;
}
.useful-links {
  padding: 8px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  ul{
    list-style:none;
    li{
      display: inline-block;
      padding:0 15px;
      line-height: 30px;
      &:hover{
        background: $white;
      }
    }
  }
  a{
    color: $text-gray;
    font-size: 14px;
  }
}
.shapes-footer{
  display:block;
  height:220px;
  width:100%;
  background: $base url("../images/crissxcross.png");
  overflow: hidden;
  color: $white;
  .btn{
    margin-top:60px;
    margin-bottom:20px;
    display: inline-block;
    padding:10px 12px;
    background: transparent;
    border:2px solid $white;
    border-radius: 5px;
    min-width:120px;
    color: $white;
    cursor: pointer;
    outline: none;
    font-size: 16px;
  }
}
.test{
  height:100%;
}
/* break your brain */
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";

@import "shapes";
@import "create";
@import "impress";
@import "media";

// 首页
.front{
  .col-sm-4{
    height: 33.3vw;
    font-size: 24px;
    display:table;
    a{
      color: #fff;
      vertical-align:middle;
      display:table-cell;
    }
    &:hover{
      box-shadow: 3px 3px 15px #9E9E9E;
    }
  }
  .link-shapes{
    background: #8BC34A;
  }
  .link-create{
    background: #03A9F4;
  }
  .link-box-shadow{
    background: #FF5722;
  }
}

// box-shadow
.boxShadow{
  background: #eee;
}

.box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto;
  h3 {
    text-align: center;
    position: relative;
    top: 80px;
  }
}

.effect1 {
  box-shadow: 0 10px 6px -6px #777;
}

.effect2 {
  position: relative;
  &:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    left: 10px;
    transform: rotate(-3deg);
  }
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    right: 10px;
    transform: rotate(3deg);
  }
}

.effect3 {
  position: relative;
  &:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    left: 10px;
    transform: rotate(-3deg);
  }
}

.effect4 {
  position: relative;
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    right: 10px;
    transform: rotate(3deg);
  }
}

.effect5 {
  position: relative;
  &:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    left: 10px;
    transform: rotate(-8deg);
  }
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    right: 10px;
    transform: rotate(8deg);
  }
}

.effect6 {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
  }
}

.effect7 {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
  }
}

.effect8 {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
  }
}